/**contacto**/

.contacto-br{
  background-image: url(/src/components/paginas/PageContacto/Img/contacto.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.formulario {
  background-color: var(--blanco);
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}
.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo__label{
  flex: 0 0 9rem;
  text-align: right;
  padding-right: 2rem;
}
.campo__field {
  flex: 1;
  border: 1px solid var(--gris);
}
.campo__field--textarea {
  height: 20rem;
}