@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enalce {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
